<main class="chat-wraper">
    <header class="header">

        <button (click)="home()">
            <icon-arrow-left></icon-arrow-left>
        </button>
        <icon-museun></icon-museun>
        <div class="status">
            <p>Museu</p>
            <span>• Online</span>
        </div>
    </header>

</main>
<section class="chat-content">
    <chat-sugestions (questioSelected)="sendSuggestQuestion($event)"
    *ngIf="questions.length ===0"></chat-sugestions>

    <chat-dialog [messages]="questions"></chat-dialog>
</section>